body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 64px;
    text-decoration: underline;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin: 0;

}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border: black solid 2px;
    padding: 20px;
    margin: 6px;
    background-color: grey;
    cursor: pointer;
    width: 150px;
}

button:hover:enabled {
    background-color: slategrey;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 32px;
}

.play-area {
    width: 50%;
    display: flex;
    justify-content: center;
}

.choices-output {
    text-align: center;

}

.score-area {
    width: 50%;
}

table#table {
    margin-left: auto;
    margin-right: auto;
}

td.win {
    background-color: goldenrod;
}

#resultscontainer {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 6px;
}

button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

button:active:enabled {
    transform: translateY(2px);
}